*{
    margin: 0px;
    padding: 0px;
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.row-sb{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}


.navbar{
    width: 100%;
    height: 80px;
    position: fixed;
}

.navbar-main{
    width: 90%;
    height: inherit;
}

.main-display-containers{
    width: 100%;
    height: auto;
    padding-top: 80px;
}